{% extends "orgchart/base.html" %}
{% load mptt_tags thumbnail %}

{% block title %}Org chart{% endblock %}

{% block content %}
<ul class="tree">{% recursetree person_list %}
        <li class="item {% if node.is_leaf_node %}leaf{% endif %}">
		<div class="card {% if node.photo %}with-photo{% endif %}">
			<span class="edit"><a href="{% url "admin:orgchart_person_change" node.id %}">edit</a></span>
			<a href="{{node.get_absolute_url}}" class="subtle">
				{% if node.photo %}<img src="{% thumbnail node.photo 60x80 %}" alt="{{node.full_name}}">{% endif %}
				<div class="name"><span class="main">{{node.short_name}}</span> {% if node.nickname %}<span class="nickname">({{node.nickname}})</span>{% endif %}</div>
			</a>
			{% for title in node.title_set.all %}<span class="title">{{title}}</span>{% endfor %}
			<ul class="contacts">
				{% if node.email %}<li><a href="mailto:{{node.email}}">{{node.email}}</a></li>{% endif %}
				{% for phone in node.phonenumber_set.all %}<li>{{phone.number}}</li>{% endfor %}
			</ul>
		</div>
		{% if not node.is_leaf_node %}
			<ul class="children {% if node.get_descendant_count > 1 and node.levels_below == 1 %}flat{% else %}structured{% endif %}">
			{{ children }}
			</ul>
		{% endif %}
	</li>
{% endrecursetree %}</ul>
{% endblock content %}
